# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
venv/
.env

# IDE files
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# macOS
.DS_Store

# Streamlit cache
.streamlit/

# Gemini artifacts (ignore)
.gemini/

# Logs
*.log
